<h1>I bet you wish these were dicks flying around</h1>
<ul id="scene">
  <li class="layer" data-depth="0.00"><img src="/static/src/content/layer1.gif"></li>
  <li class="layer" data-depth="0.20"><img src="/static/src/content/layer2.jpg"></li>
  <li class="layer" data-depth="0.40"><img src="/static/src/content/layer3.png"></li>
  <li class="layer" data-depth="0.60"><img src="/static/src/content/layer4.png"></li>
  <li class="layer" data-depth="0.80"><img src="/static/src/content/layer5.png"></li>
  <li class="layer" data-depth="1.00"><img src="/static/src/content/layer6.png"></li>
</ul>
<script>$('#scene').parallax();console.log('shit');</script>
