<div class="container col-md-6 col-md-offset-3">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Log in</h2>
        <form method="post" ng-submit="login()" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Username or email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>

          <br/>

          <p class="text-center">
            <a href="#">Forgot your password?</a>
          </p>

          <p class="text-center text-muted">
            <small>Don't have an account yet? <a ui-sref="signup">Sign up</a></small>
          </p>

          <div class="signup-or-separator">
            <h6 class="text text-center">or</h6>
            <hr>
          </div>
        </form>

        <!--
        <a class="btn btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i>Log in with Facebook
        </a>
        -->
        <a class="btn btn-block btn-social btn-google" ng-click="authenticate('google')">
          <i class="fa fa-google"></i>Log in with Google
        </a>
        <a href="javascript:void(0)" class="btn btn-block btn-social btn-github" ng-click="guestLogin()">
          <i class="fa fa-user-secret"></i>Enter as Guest
        </a>
      </div>
    </div>
  </div>
</div>
