<div class="container col-md-12">
  <div class="col-md-6">
    <h2><i class="fa fa-music fa-2x"></i> Predict song popularity.</h2>
    <br />
    <h2><i class="fa fa-comments-o fa-2x"></i> Discuss with friends.</h2>
    <br />
    <h2><i class="fa fa-trophy fa-2x"></i> Be the best and win prizes.</h2>
    <br /><br />
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="center-form panel">
        <div class="panel-body">
          <h2 class="text-center">Sign up</h2>
          <form method="post" ng-submit="signup()" name="signupForm">
            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
              <input class="form-control input-lg" type="text" name="displayName" ng-model="displayName" placeholder="Username" required autofocus>
              <span class="ion-person form-control-feedback"></span>
              <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
                <div ng-message="required">You must enter your name.</div>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
              <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required>
              <span class="ion-at form-control-feedback"></span>
              <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                <div ng-message="required">Your email address is required.</div>
                <div ng-message="pattern">Your email address is invalid.</div>
              </div>
            </div>

            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>

            <span class="ion-key form-control-feedback"></span>

            <!--<p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>-->
            <br/>

            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>

            <p class="text-center text-muted">or</p>
            <a href="javascript:void(0)" class="btn btn-block btn-social btn-facebook" ng-click="authenticate('facebook')">
              <i class="fa fa-facebook"></i> Sign up with Facebook
            </a>
            <a href="javascript:void(0)" class="btn btn-block btn-social btn-google" ng-click="authenticate('google')">
              <i class="fa fa-google"></i>Sign up with Google
            </a>
            <a href="javascript:void(0)" class="btn btn-block btn-social btn-github" ng-click="guestLogin()">
              <i class="fa fa-user-secret"></i>Enter as Guest
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
